@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding:  2rem;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
.launchingsoon{
    display: flex;
    text-align: center;
    font-size: 3.5rem;
    
}
.we{
    color: hsl(0, 0%, 59%);
}
.sub{
    font-size: 1.5rem;
    margin-top: -18px;
    padding: 1.5rem;
    font-weight: 600;
}
.email{
    margin: 0.5rem 1rem;
    padding: 1rem;
}

input[type=email] {
    width: 430px;
    border: 2px solid hsl(223, 100%, 88%);
    border-radius: 25px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    color: hsl(223, 100%, 88%);
    opacity: 0.6;
    box-shadow: 10px 11px 13px -6px rgba(105, 105, 105, 0.75);
    outline: none;
  }

  
  
  input[type=submit] {
    width: 130px;
    border: 2px solid rgb(194, 194, 194);
    border-radius: 25px;
    font-size: 16px;
    text-align: center;
    background-color: hsl(223, 87%, 63%);
    border: none;
    padding: 12px;
    margin: 1rem;
    color: hsl(0, 0%, 94%);
    box-shadow: 10px 11px 13px -6px rgba(105, 105, 105, 0.75);
  }

.imghold{
   display: flex;
   justify-content: center;
   align-content: center;
}
.row{
   display: flex;
   flex-direction: row;
   margin: 2rem;
}
.column1,.column2,.column3{
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 100px;
}
.fab{
    color: hsl(223, 87%, 63%);
    padding: 0.5rem;
    border-radius: 200px;
    font-size: 2rem;
}

.fab:hover{
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.footer{
    font-size: 0.9rem;
    color: hsl(223, 100%, 88%);
}

@media only screen and (max-width: 375px) {
    .launchingsoon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        padding: 1rem;
    }
    form{
        display: flex;
        flex-direction: column;
    }
     input[type=email]{
        width: 230px;
        margin: 1rem;
     }
     input[type=submit]{
        width: 230px;
        margin: 2rem;
     }
      
  }